

body {
    overflow: hidden;
}

audio::-webkit-media-controls-play-button, audio::-webkit-media-controls-panel {
    background-color: white;
}

    
#mainbox {
    height: 100vh;
    width: 100%;
}

div.login_center_box {
    background-color: lightseagreen;
    padding: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 16px -5px black;
    width: 450px;
}
div.login_center_box .title {
    text-align: center;
    font-family: cursive;
}


div.addLesson_center_box {
    background-color: whiet;
    padding: 30px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 16px -5px black;
    width: 450px;
}
div.addLesson_center_box .title {
    text-align: center;
    font-family: cursive;
}

#loadingbox {
    z-index: 9999;
}
#loading div.loading_mid_popup {
    background-color: white;
}
#loadingbox div.code {
    position: absolute;
    padding: 5px;
    background-color: black;
    color: green;
    height: 100vh;
    width: 100%;
}
#loadingbox div.code > p{
    font-family: consolas;
    font-size: 24px;
    margin: 0px;
}
#loadingbox h2#loadingboxText {
    color: white;
    z-index: 10;
}

.elapsedTime_recordingDotAnimation.active {
    height: 10px;
    width: 10px;
    border-radius: 100px;
    background-color: red;
    display: inline-flex;
    vertical-align: middle;
    margin: auto 10px;
    animation: recordingDot_red 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes recordingDot_red {
    0% { background-color: transparent; }
    50% { background-color: red; }
    100% { background-color: transparent; }
}
@keyframes recordingDot_white {
    0% { background-color: transparent; }
    50% { background-color: white; }
    100% { background-color: transparent; }
}

#currentlyRecordingPopup {
    position: absolute;
    width: 100%;
    bottom: 0px;
}
#currentlyRecordingPopup > div.box {
    width: fit-content;
    padding: 10px;
    margin: 30px auto;
    background-color: red;
    color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 16px -5px black;
}
#currentlyRecordingPopup > div.box > h2 {
    margin: 0;
}

#currentlyRecordingPopup > div.box span.dot {
    height: 10px;
    width: 10px;
    border-radius: 100px;
    background-color: white;
    display: inline-flex;
    vertical-align: middle;
    margin: auto 10px;
    animation: recordingDot_white 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#application {
    /* pas display flex */
}

#application > div.menu > div.box {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#application > div.menu > div.box > div {
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    background-color: aliceblue;
    box-shadow: 0px 0px 16px -5px black;
    height: fit-content;
    cursor: pointer;
    transition: 0.3s all;
}
#application > div.menu > div.box > div:hover {
    transform: translate(0px, -3px);
    transition: 0.3s all;
}

#application div.lessonList {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#application div.lessonList > div.lesson {
    /* background-color: aqua; Debug */
    display: flex;
    flex-direction: row;
    margin: 0px 0px;
    padding: 5px;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}
#application div.lessonList > div.lessonHeader {
    font-size: 20px;
    font-weight: bold;
}
#application div.lessonList > div.lesson:not(.lessonHeader):hover {
    box-shadow: 0px 2px 10px -5px #000a;
    z-index: 90;
}

#application div.lessonList > div.lesson > div.UUID{ width: 200px; min-width: fit-content; }
#application div.lessonList > div.lesson > div.name{ width: 200px; min-width: fit-content; }
#application div.lessonList > div.lesson > div.class{ width: 150px; min-width: fit-content; }
#application div.lessonList > div.lesson > div.youtubeLink{ width: 350px; min-width: fit-content; }
#application div.lessonList > div.lesson:not(.lessonHeader) > div.text{ width: max-content; overflow-y: auto; flex: 1; border: 1px solid gray; border-radius: 5px;}

#application div.lessonList > div.lesson > div {
    padding: 3px;
    max-height: 100px;
}


#application div.app div.inSession div.flex{
    display: flex;
    flex-direction: row;
}
#application div.app div.inSession div.flex div.left {
    flex: 1;
}
#application div.app div.inSession div.flex div.left div.classCanva {
    background-color: gray;
    height: 600px;
    width: 600px;
    margin: 10px;
    border-radius: 10px;
}
#application div.app div.inSession div.flex div.left div.classCanva div.computer {
    background-color: white;
    border-radius: 100px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: bold;
    font-family: consolas;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 0px;
    left: 0px;

    background-color: lightgray;
}


#application div.app div.inSession div.flex div.left div.classCanva div.computer:hover {
    box-shadow: 0px 2px 10px 0px #000a;
}
#application div.app div.inSession div.flex div.left div.classCanva div.computer.status__none { background-color: lightgray; }
#application div.app div.inSession div.flex div.left div.classCanva div.computer.status__recording { background-color: orange; }
#application div.app div.inSession div.flex div.left div.classCanva div.computer.status__connected { background-color: lightgreen; }
#application div.app div.inSession div.flex div.left div.classCanva div.computer.status__unfocused { background-color: red !important; }



/*
#application div.app div.inSession div.flex div.left div.classCanva div.computer.hovertext {
    position: relative;
    border-bottom: 1px dotted black;
}
  
#application div.app div.inSession div.flex div.left div.classCanva div.computer.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    width: max-content;
    max-width: 300px;
    height: max-content;
    opacity: 1;
    background-color: rgba(0,0,0,0.75);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    white-space:pre-wrap;
    text-align: left;
  
    position: absolute;
    z-index: 1;
    left: 110%;
    top: 10%;
}
  
#application div.app div.inSession div.flex div.left div.classCanva div.computer.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}
*/


#application div.app div.inSession div.flex div.left div.classCanva div.computer.hovertext {
    /* position: relative; */
    border-bottom: 1px dotted black;
}
  
#application div.app div.inSession div.flex div.left div.classCanva div.computer.hovertext div.content {
    content: attr(data-hover);
    visibility: hidden; /* hidden */
    width: max-content;
    max-width: 300px;
    height: max-content;
    opacity: 1;
    background-color: rgba(0,0,0,0.75);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    text-align: left;
  
    position: absolute;
    z-index: 1;
    left: 110%;
    top: 10%;
}

#application div.app div.inSession div.flex div.left div.classCanva div.computer.hovertext .msgBubble {
    visibility: hidden;
    position: absolute;
    top: -8px;
    right: -13px;
}

#application div.app div.inSession div.flex div.left div.classCanva div.computer.hovertext .callTeacher {
    visibility: hidden;
    position: absolute;
    top: -8px;
    left: -13px;
}
#application div.app div.inSession div.flex div.left div.classCanva div.computer.hovertext .msgBubble.active,.callTeacher.active {
    visibility: visible;
}

  
#application div.app div.inSession div.flex div.left div.classCanva div.computer.hovertext:hover div.content {
    opacity: 1;
    visibility: visible;
}


#application div.app div.inSession div.flex div.left div.classCanva div.computer.hovertext div.content span.recordBar { }
#application div.app div.inSession div.flex div.left div.classCanva div.computer.hovertext.status__recording div.content span.recordBar {
    color: orange;
}
#application div.app div.inSession div.flex div.left div.classCanva div.computer.hovertext:not(.status__recording) div.content span > span.inRecordMention {
    visibility: hidden;
}
#application div.app div.inSession div.flex div.left div.classCanva div.computer.hovertext.status__recording div.content span > span.inRecordMention {
    visibility: inherit;
}